@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr1: #ff2972;
  --clr2: #fee800;
  --clr3: #04fc43;
}

.btn {
  background: linear-gradient(
    92.23deg,
    #b5e1c5 21.43%,
    #8bdca9 50.63%,
    #55d785 100%,
    #21d563 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(11, 212, 85, 0.51);
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #8bdca9 21.43%,
    #55d785 100%,
    #21d563 117.04%
  );
}

.body {
  font-family: 'Quicksand', sans-serif;
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

/* Flickering animation */
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    box-shadow: 0px 4.42184px 107.23px rgba(11, 212, 85, 0.51);
  }

  20%,
  24%,
  55% {
    box-shadow: none;
  }
}

@keyframes flicker1 {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    box-shadow: 0px 4.42184px 57x.23p rgba(217, 217, 217, 0.51);
  }

  20%,
  24%,
  55% {
    box-shadow: none;
  }
}

.banner__titles {
  animation: flicker 1.5s infinite alternate;
  position: relative;
  box-shadow: 0px 4.42184px 107.23px rgba(11, 212, 85, 0.51);
}

.project {
  animation: flicker1 1.5s infinite alternate;
  position: relative;
  box-shadow: 0px 4.42184px 107.23px rgba(217, 217, 217, 0.51);
}
.banner__titles:after,
.project:after {
  content: '';
  position: absolute;
}
.banner__titles:before .project:before {
  content: '';
  position: absolute;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  width: 200px;
  top: 150%;
  left: 50%;
}

.tooltip .tooltiptext::after {
  content: ' ';
  position: absolute;
  bottom: 100%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.airplane {
  position: absolute;
  z-index: 10;
  margin-left: -4px;
  top: 60px;
  bottom: 60px;
}

#time {
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#time .circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: var(--clr);
}

#time .circle svg {
  position: relative;
  transform: rotate(270deg);
}

#time .circle:nth-child(1) svg {
  width: 250px;
  height: 250px;
}

#time .circle:nth-child(2) svg {
  width: 210px;
  height: 210px;
}

#time .circle:nth-child(3) svg {
  width: 170px;
  height: 170px;
}

#time .circle svg circle {
  width: 100%;
  height: 100%;
  stroke-width: 5;
  transform: translate(5px, 5px);
  opacity: 0.5;
}

#time .circle:nth-child(1) svg circle {
  stroke-dasharray: 760;
  stroke-dashoffset: 760;
}

#time .circle:nth-child(2) svg circle {
  stroke-dasharray: 630;
  stroke-dashoffset: 630;
}

#time .circle:nth-child(3) svg circle {
  stroke-dasharray: 510;
  stroke-dashoffset: 510;
}

.dots {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 50;
}

.dots::before {
  content: '';
  position: absolute;
  top: -3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

#time .circle:nth-child(1) .dots::before {
  box-shadow: 0 0 20px var(--clr1);
}

#time .circle:nth-child(2) .dots::before {
  box-shadow: 0 0 40px var(--clr2);
}

#time .circle:nth-child(3) .dots::before {
  box-shadow: 0 0 60px var(--clr3);
}

.niddles {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 10;
}

.niddles i {
  position: absolute;
  width: 2px;
  height: 50%;
  opacity: 0.75;
  border-radius: 6px;
  transform-origin: bottom;
  transform: scaleY(0.5);
}

.niddles i {
  background: #fff;
  box-shadow: 0 0 60px #fff;
}

.niddles.niddle2 {
  width: 170px;
  height: 170px;
  z-index: 60;
}

.niddles.niddle2 i {
  width: 3px;
}

.niddles.niddle3 {
  width: 140px;
  height: 140px;
  z-index: 58;
}

.niddles.niddle3 i {
  width: 4px;
}

#time span {
  position: absolute;
  inset: 55px;
  text-align: center;
  color: #999;
  transform: rotate(calc(30deg * var(--i)));
}

#time span b {
  font-size: 0.75em;
  font-weight: 500;
  display: inline-block;
  transform: rotate(calc(-30deg * var(--i)));
}

.thread {
  transform-origin: 50% -5%;
  animation: movit 3s alternate ease-in-out;
}

@keyframes movit {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@layer base {
  body {
    @apply text-lg leading-8 text-white;
  }
  .h2 {
    @apply text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-medium px-4 py-2 bg-lime-500 text-amber-900 shadow-sm cursor-pointer hover:scale-105 hover:ring-2 hover:ring-offset-2 hover:ring-lime-500 ease-in-out duration-300;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-lg;
  }
  .btn-link {
    @apply text-lg;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#fff] to-[#21D563] font-bold font-primary hover:from-[#21D563] hover:to-[#fff] ease-in-out duration-200;
  }
  .section {
    @apply sm:mx-auto py-8 flex items-center mx-4;
  }

  #avatar {
    @apply banner__titles;
  }

  .card__zoom {
    @apply relative flex items-center justify-center m-3 overflow-hidden shadow-sm rounded-2xl;
  }

  .card__zoom--image {
    @apply absolute w-full h-full transition-all duration-500 ease-in-out transform bg-center bg-cover;
  }

  .card__zoom:hover .card__zoom--image {
    @apply scale-110;
  }

  .card__zoom--image ul,
  .card__zoom--image div {
    @apply hidden;
  }

  .card__zoom--image:hover ul,
  .card__zoom--image:hover div {
    @apply flex;
  }

  input,
  textarea {
    @apply bg-transparent border-b py-3 px-2 outline-none w-full placeholder:text-white focus:border-green-400 transition-all;
  }

  textarea {
    @apply resize-none;
  }
}
