@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: linear-gradient(
    92.23deg,
    #b5e1c5 21.43%,
    #8bdca9 50.63%,
    #55d785 100%,
    #21d563 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(11, 212, 85, 0.51);
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #8bdca9 21.43%,
    #55d785 100%,
    #21d563 117.04%
  );
}

.body {
  font-family: 'Quicksand', sans-serif;
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

/* Flickering animation */
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    box-shadow: 0px 4.42184px 107.23px rgba(11, 212, 85, 0.51);
  }

  20%,
  24%,
  55% {
    box-shadow: none;
  }
}

@keyframes flicker1 {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    box-shadow: 0px 4.42184px 57x.23p rgba(217, 217, 217, 0.51);
  }

  20%,
  24%,
  55% {
    box-shadow: none;
  }
}

.banner__titles {
  animation: flicker 1.5s infinite alternate;
  position: relative;
  box-shadow: 0px 4.42184px 107.23px rgba(11, 212, 85, 0.51);
}

.project {
  animation: flicker1 1.5s infinite alternate;
  position: relative;
  box-shadow: 0px 4.42184px 107.23px rgba(217, 217, 217, 0.51);
}
.banner__titles:after,
.project:after {
  content: '';
  position: absolute;
}
.banner__titles:before .project:before {
  content: '';
  position: absolute;
}

@layer base {
  body {
    @apply text-lg leading-8 text-white;
  }
  .h2 {
    @apply text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-medium px-4 py-2 bg-lime-500 text-amber-900 shadow-sm cursor-pointer hover:scale-105 hover:ring-2 hover:ring-offset-2 hover:ring-lime-500 ease-in-out duration-300;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-lg;
  }
  .btn-link {
    @apply text-lg;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#fff] to-[#21D563] font-bold font-primary hover:from-[#21D563] hover:to-[#fff] ease-in-out duration-200;
  }
  .section {
    @apply py-8 lg:h-screen flex items-center;
  }

  #avatar {
    @apply banner__titles;
  }

  .card__zoom {
    @apply relative flex items-center justify-center m-3 overflow-hidden shadow-sm rounded-2xl;
  }

  .card__zoom--image {
    @apply absolute w-full h-full transition-all duration-500 ease-in-out transform bg-center bg-cover;
  }

  .card__zoom:hover .card__zoom--image {
    @apply scale-110;
  }

  .card__zoom--image ul,
  .card__zoom--image div {
    @apply hidden;
  }

  .card__zoom--image:hover ul,
  .card__zoom--image:hover div {
    @apply flex;
  }
}
